@model IEnumerable<BookLibrary.Models.Book>
@{
    <table class="table table-striped">
        <tr>
            <th>
                Id
            </th>

            <th>
                Title
            </th>

            <th>
                Author
            </th>

            <th>
                Description
            </th>
            <th>
                Is Read
            </th>
            <th>
            Edit
            </th>
            <th>
            Delete
            </th>
        </tr>

    @foreach (var book in Model)
    {
        <tr>
            <td>@book.Id</td>
            <td>@book.Title</td>
            <td>@book.Author</td>
            <td>@book.Description</td>
            <td>@(book.IsRead ? "Read" : "Not Read")</td>
            <td>  <a asp-action="Edit" asp-route-id="@book.Id">Edit</a></td>
            <td> <a asp-action="Delete" asp-route-id="@book.Id">Delete</a></td>
        </tr>
    }


    </table>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Till startsidan</a>

}
